# Przetwarzanie obrazu i wideo
opencv-python
numpy

# AI, Sieci neuronowe i Computer Vision
torch
torchvision
ultralytics
mediapipe

# Uczenie maszynowe i analiza danych
scikit-learn
tqdm
scipy
torch
torchvision
facenet-pytorch
setuptools<82

# Interfejs graficzny (GUI)
PyQt5==5.15.11