# image processing
opencv-python
numpy

# AI, neural networks and Computer Vision
torch
torchvision
ultralytics
mediapipe

# ML and data analysis
scikit-learn
tqdm
scipy
torch
torchvision
facenet-pytorch
setuptools<82

# GUI
PyQt5==5.15.11